.hero {
  position: relative;
  padding-top: 150px;
  padding-bottom: 145px;
  background-color: $dark__cyan;
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 830px;
    height: 550px;
    bottom: 0;
    right: 0;
    background-image: url("../../images/car.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__container {
    @include df-column-center-start;
  }

  &__left-box {
    @include df-column-center-start;
  }

  &__title {
    position: relative;
    text-align: start;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 0%;
    color: $light__yellow;
    margin-bottom: 40px;
    z-index: 1;
    &::after {
      z-index: -1;
      content: "";
      display: inline-block;
      width: 120px;
      height: 120px;
      top: -10px;
      left: -38px;
      position: absolute;
      background-image: url("../../images/fire.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(-50deg);
    }
  }

  &__text {
    width: 474px;
    text-align: start;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: $light__gray;
    margin-bottom: 20px;
  }

  &__cash-box {
    @include df-column-center-start;
    gap: 5px;
    margin-bottom: 40px;
  }

  &__chash-text {
    width: 100%;
    text-align: start;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    line-height: 100%;
    color: $dark__gray;
  }

  &__chash-title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $white;
  }

  &__button {
    @include df-row-center-center;
    gap: 18px;
    padding: 18px 34px;
    border-radius: 15px;
    border: 1px solid $light__yellow;
    color: $light__yellow;
    font-family: "Montserrat";
    background-color: $second__dark__cyan;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    cursor: pointer;
    transition: 100ms ease all;
    &:active {
      opacity: 0.5;
      transition: 100ms ease all;
    }
  }
  &__icon-image {
  }
}
@media (max-width: 1300px) {
  .hero {
    position: relative;
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: $dark__cyan;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 730px;
      height: 450px;
      bottom: 0;
      right: 0;
      background-image: url("../../images/car.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-right: 30px !important;
      padding-left: 30px !important;
      @include df-column-center-start;
    }

    &__left-box {
      @include df-column-center-start;
    }

    &__title {
      position: relative;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 70px;
      letter-spacing: 0%;
      color: $light__yellow;
      margin-bottom: 40px;
      z-index: 1;
      &::after {
        z-index: -1;
        content: "";
        display: inline-block;
        width: 120px;
        height: 120px;
        top: -10px;
        left: -38px;
        position: absolute;
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(-50deg);
      }
    }

    &__text {
      width: 474px;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 20px;
    }

    &__cash-box {
      @include df-column-center-start;
      gap: 5px;
      margin-bottom: 40px;
    }

    &__chash-text {
      width: 100%;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 100%;
      color: $dark__gray;
    }

    &__chash-title {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
    }

    &__button {
      @include df-row-center-center;
      gap: 18px;
      padding: 18px 34px;
      border-radius: 15px;
      border: 1px solid $light__yellow;
      color: $light__yellow;
      font-family: "Montserrat";
      background-color: $second__dark__cyan;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
      cursor: pointer;
      transition: 100ms ease all;
      &:active {
        opacity: 0.5;
        transition: 100ms ease all;
      }
    }
    &__icon-image {
    }
  }
}
@media (max-width: 1080px) {
  .hero {
    position: relative;
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: $dark__cyan;
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 630px;
      height: 350px;
      bottom: 0;
      right: 0;
      background-image: url("../../images/car.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-right: 30px !important;
      padding-left: 30px !important;
      @include df-column-center-start;
    }

    &__left-box {
      @include df-column-center-start;
    }

    &__title {
      position: relative;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 70px;
      letter-spacing: 0%;
      color: $light__yellow;
      margin-bottom: 40px;
      z-index: 1;
      &::after {
        z-index: -1;
        content: "";
        display: inline-block;
        width: 120px;
        height: 120px;
        top: -10px;
        left: -38px;
        position: absolute;
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(-50deg);
      }
    }

    &__text {
      width: 474px;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 20px;
    }

    &__cash-box {
      @include df-column-center-start;
      gap: 5px;
      margin-bottom: 40px;
    }

    &__chash-text {
      width: 100%;
      text-align: start;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 100%;
      color: $dark__gray;
    }

    &__chash-title {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
    }

    &__button {
      @include df-row-center-center;
      gap: 18px;
      padding: 18px 34px;
      border-radius: 15px;
      border: 1px solid $light__yellow;
      color: $light__yellow;
      font-family: "Montserrat";
      background-color: $second__dark__cyan;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0%;
      cursor: pointer;
      transition: 100ms ease all;
      &:active {
        opacity: 0.5;
        transition: 100ms ease all;
      }
    }
    &__icon-image {
    }
  }
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 145px;
    background-color: $dark__cyan;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 830px;
      height: 550px;
      bottom: 0;
      right: 0;
      background-image: url("../../images/car.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__container {
      padding-right: 30px !important;
      padding-left: 30px !important;
      @include df-column-center-center;
    }

    &__left-box {
      @include df-column-center-center;
    }

    &__title {
      position: relative;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $light__yellow;
      margin-bottom: 40px;
      z-index: 1;
      &::after {
        z-index: -1;
        content: "";
        display: inline-block;
        width: 69px;
        height: 69px;
        top: -15px;
        left: -25px;
        position: absolute;
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(-50deg);
      }
    }

    &__text {
      width: 474px;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 40px;
    }

    &__cash-box {
      @include df-column-center-center;
      gap: 5px;
      margin-bottom: 40px;
    }

    &__chash-text {
      width: 100%;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 100%;
      color: $dark__gray;
    }

    &__chash-title {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
    }

    &__button {
      @include df-row-center-center;
      gap: 18px;
      padding: 10px 15px;
      border-radius: 15px;
      border: 1px solid $light__yellow;
      color: $light__yellow;
      font-family: "Montserrat";
      background-color: $second__dark__cyan;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0%;
      cursor: pointer;
      transition: 100ms ease all;
      &:active {
        opacity: 0.5;
        transition: 100ms ease all;
      }
    }
    &__icon-image {
    }
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 92px;
    background-color: $dark__cyan;
    &__container {
      padding-right: 20px !important;
      padding-left: 20px !important;
      @include df-column-center-center;
    }

    &__left-box {
      @include df-column-center-center;
    }

    &__title {
      position: relative;
      width: 230px;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 40px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $light__yellow;
      margin-bottom: 34px;
      &::after {
        content: "";
        display: inline-block;
        width: 69px;
        height: 69px;
        top: -15px;
        left: 10px;
        position: absolute;
        background-image: url("../../images/fire.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(-50deg);
      }
    }

    &__text {
      width: 100%;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 0%;
      color: $light__gray;
      margin-bottom: 47px;
    }

    &__cash-box {
      @include df-column-center-center;
      gap: 5px;
      margin-bottom: 48px;
    }

    &__chash-text {
      width: 100%;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0%;
      line-height: 100%;
      color: $dark__gray;
    }

    &__chash-title {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $white;
    }

    &__button {
      @include df-row-center-center;
      gap: 18px;
      padding: 10px 15px;
      border-radius: 15px;
      border: 1px solid $light__yellow;
      color: $light__yellow;
      font-family: "Montserrat";
      background-color: $second__dark__cyan;
      font-weight: 700;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0%;
      cursor: pointer;
      transition: 100ms ease all;
      &:active {
        opacity: 0.5;
        transition: 100ms ease all;
      }
    }
    &__icon-image {
    }
  }
}
